 <html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Online Shopping System</title>
    <link href="~/Content/bootstrap.rtl.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light">

        <div class="container">
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home", new {area=" "}, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("About", "About", "Home", new { area = " " }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contact", "Contact", "Home", new { area = " " }, new { @class = "nav-link" })
                </li> 
                <li class="nav-item">
                    @Html.ActionLink("Create Product", "CreateProducts", "Product", new { area = " " }, new { @class = "nav-link" })
                </li>              
               
            </ul>
            <ul class="navbar-nav">
                @*<li class="nav-item">
                    @Html.ActionLink("Registration", "Registration", "User", new { area = " " }, new { @class = "nav-link" })
                </li>*@
                <li class="nav-item">
                    @Html.ActionLink("Login", "Login", "User", new { area = " " }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Add To Cart", "AddToCart", "AddToCartController", new { area = " " }, new { @class = "nav-link" })
                    <a href="~/Home/AddToCart.cshtml" class="nav-link"><i class="fa-solid fa-cart-shopping" style="font-size:20px;"></i></a>
                </li>
            </ul>
        </div>

    </nav>
    <div class="container">
        @RenderBody()
        <footer>A &copy; rights reserved @DateTime.Now.Year</footer>
    </div>


    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>